#!/usr/bin/env xdg-open
[Desktop Entry]
Name=app-manager
Name[zh_CN]=应用管理器
Categories=Utility;
Comment=app manager,app,system
Encoding=UTF-8
Exec=/opt/apps/com.github.ccc-app-manager/files//ccc-app-manager
Icon=/opt/apps/com.github.ccc-app-manager/files/ccc-app-manager_56px.svg
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-AppID=com.github.ccc-app-manager
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-Deepin-Vendor=user-custom
