[Desktop Entry]
Name=Spark AppManager
Name[zh_CN]=星火应用管理器
Categories=Utility;
Comment=app manager,app,system
Encoding=UTF-8
Exec=/opt/apps/com.github.ccc-app-manager/files/start.sh "%F"
Icon=/opt/apps/com.github.ccc-app-manager/files/ccc-app-manager.svg
Name=com.github.ccc-app-manager.desktop
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-AppID=com.github.ccc-app-manager
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-Deepin-Vendor=user-custom
